# Base de Datos Azure SQL
DATABASE_URL=mssql+pyodbc://user:password@db_name.database.windows.net:1433/db_name?driver=ODBC+Driver+17+for+SQL+Server
 
# Seguridad
SECRET_KEY=clave_secreta(generada aleatoriamente con openssl)
 
# Storage Account
AZURE_STORAGE_CONNECTION_STRING=connection_string_de_tu_storage_account
AZURE_STORAGE_CONTAINER=documentos-contexta
 
# Azure AI Search
AZURE_SEARCH_ENDPOINT=https://tu-servicio.search.windows.net
AZURE_SEARCH_ADMIN_KEY=tu_clave_de_administrador_search
AZURE_SEARCH_INDEX_NAME=contexta-index
 
# Azure Open AI
AZURE_OPENAI_ENDPOINT=https://tu-servicio.openai.azure.com/
AZURE_OPENAI_API_KEY=tu_api_key_de_openai
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-ada-002
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4o-mini